@import url(https://fonts.bunny.net/css?family=im-fell-english:400);
@import url(https://fonts.bunny.net/css?family=angkor:400|im-fell-english:400);


body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto;
    font-family: 'Angkor', sans-serif;  
    text-align: center;
    margin-top: 20px;
    background-color: lightblue;
}

#app {
    grid-template-columns: 2fr 3fr 1fr;
    grid-column: 1 / span 2;
    display: grid;
}

.timer {

    grid-column: 1;
    grid-row: 1;

    font-size: 1.2em;
    color: #333;
    background-color: white;
    border : 2px solid #333;
    border-radius: 10px;

    margin-bottom : 20px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column; /* les éléments s’empilent verticalement */
    align-items: center;    /* optionnel : centrer horizontalement */


}


h1 {
    grid-column: 2;
    margin-bottom: 30px;
    font-size: 3em;
    color: white;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.466);

}

h2 {
    grid-column: 3;
    margin-bottom: 20px;
    font-family: 'Angkor', sans-serif; 
    color: white;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.466);
    background-color: rgb(187, 218, 245);
}

h3 {
    font-family: 'Angkor', sans-serif; 
    color: #333;
    margin-bottom: 10px;
}

#indice h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin-bottom: 10px;
}

#code h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin-bottom: 10px;
}

#menu{
    grid-row: 1;
    grid-column: 3;
    margin : auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-family: 'IM Fell English', serif; 
}

#btn-menu{
    margin-right: 30px;
    margin-left: 30px;
}

#btn-triche{
    margin-right: 30px;
}


button {
    background-color: white;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 80px;
    width: 100px;
}

button:hover {
    background-color: rgb(187, 218, 245);
}

#valider {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;

    height: 45px;
    width: 50%;

}

#indiceBtn{
    height: 45px;
    width: 100%;
}

#codeInput {
    width: 30%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 1em;
    height: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inventaire {
    grid-column: 3;
    grid-row: 2;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    border: 4px solid white;
    border-radius: 25px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
}

#liste-inventaire {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.objet-inventaire {
    width: 80px;   
    height: 80px;  
    object-fit: contain; 
    margin: 5px;
    border: 3px solid white; 
    border-radius: 8px;      
}

.objet-inventaire.selected {
    border: 3px solid rgb(255, 238, 0); 
}

#message{
    display:grid;
    grid-column: 1;
    grid-row: 2;
    justify-content: center; /* centre horizontalement */
    align-items: center; 
}

.message-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.95);
    border: 2px solid #333;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.message-popup button {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 20px;
    font-size: 1em;
    cursor: pointer;
    height: 50px;
    width: 150px;
}

.intro-bandeau {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 20, 40, 0.9);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fondu 1s ease-in-out;
}

.intro-bandeau h2{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightblue;
    border-radius: 20px;
}

#pfin p{
    text-align: center;
}

.intro-bandeau p{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;

}



.intro-contenu {
  text-align: center;
  max-width: 600px;
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.intro-contenu button {
  margin-top: 20px;
  background: white;
  color: black;
  border: none;
  width:auto;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.intro-contenu button:hover {
  background: lightblue;
}

@keyframes fondu {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes disparait {
  from { opacity: 1; }
  to { opacity: 0; }
}

#map { 
    grid-column: 1 / span 2;
    height: 70vh;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 4px solid white;
 }