@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* ---------- BASE ---------- */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* nécessaire pour le ::before */
    background: url('../img/fond_ecran_accueil.jpg') no-repeat center center/cover;
    overflow: hidden;
}

/* Couche de transparence */
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /* noir transparent (0.4 = 40% d’opacité) */
    z-index: 0;
}

#app {
    position: relative;
    margin : auto;
    display: grid;
    justify-items: center;
    background-color: rgb(176,213, 230, 0.8);
    padding: 50px;
    border-radius: 20px;
    height: auto;
    width: 50%;
    border: white solid 5px;
    z-index: 1;
}

#foot {
    text-align: center;
    font-size: 1em;
    font-style: italic;
    margin-top: 20px;
}

/* ---------- TITRES ---------- */
h1 {
    grid-column: 1;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Libertinus Sans", sans-serif;
    font-size: 5em;
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    grid-column: 1;
    margin-bottom: 20px;
    font-family: "Libertinus Sans", sans-serif;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* ---------- INFO ---------- */
#Info h1, h2{
    background-color: lightblue;
    border-radius: 20px;
    color: white;
    -webkit-text-stroke: 1px black;
}

#Info p{
    grid-column: 1;
    font-size: 1.2em;
    color: #333;
    text-align: justify;
    margin-bottom: 20px;
}

#Info ul li {
    list-style-type: none;
    position: relative;
    padding-left: 25px; 
    text-align: left;
    font-size: 1.1em;
    color: #333;
    margin-bottom: 10px;
}

#Info ul li::before {
    content: "⚓​";     
    position: absolute;
    left: 0;
}

#message{
    display:grid;
    grid-column: 1;
    grid-row: 2;
    justify-content: center; 
    align-items: center; 
}

.message-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255);
    border: 2px solid #333;
    border-radius: 15px;
    padding: 30px;
    text-align: left;            
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

    width: 60%;                  
    max-height: 70vh;            
    overflow-y: auto;            /* permet de scroller à l’intérieur */
}

.message-popup::-webkit-scrollbar {
    width: 10px;
}
.message-popup::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 5px;
}
.message-popup::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50, 50, 50, 0.7);
}

.message-popup button {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 20px;
    font-size: 1em;
    cursor: pointer;
    height: 50px;
    width: 150px;
    font-family: "Libertinus Sans", sans-serif;
    color: white;
    -webkit-text-stroke: 1px black;
    justify-content: center;
}

/* ---------- HALL OF FAME ---------- */
#fame{ 
    grid-column: 1;
    font-size: 1.2em;
    color: #333;
    text-align: justify;
    margin-bottom: 20px;
    min-height: 660px;

}

#fame h1 {
    background-color: lightblue;
    font-size: 4em;
    border-radius: 20px;
    color: white;
    -webkit-text-stroke: 1px black;
    padding: 0.1em;
}

#fame ol li {
    list-style-type: decimal ;
    position: relative;
    padding-left: 25px; 
    text-align: left;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

/* ---------- BOUTONS ---------- */
form {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

button {
    background-color: white;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 200px;
    margin: 10px;
}

button:hover {
    background-color: lightblue;
}





